@media print {
    /* Hide all printed page decoration (page numbers, filename, etc) */
    @page {
        size: A4;
        margin: 1cm;

        @top-left {
            content: none;
        }
        @top-center {
            content: none;
        }
        @top-right {
            content: none;
        }
        @bottom-left {
            content: none;
        }
        @bottom-center {
            content: none;
        }
        @bottom-right {
            content: none;
        }
    }

    body {
        margin: 0;
        padding: 0;
    }

    .nonPrintable {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    table#questions tr {
        font-size: 8pt;
        height: 9em;
        max-height: 9em;
        vertical-align: top;
    }

    div#sidebar {
        display: none;
    }

    div#footer {
        margin-left: auto;
        margin-right: auto;
        display: block;
        font-size: 8px;
    }
}
